#page_wrap{
    width: 1024px;
    margin: 0 auto;
}

.container_header{
    height: 5%;
    width: 15%;
    display: flex;
    overflow: hidden;
    float: left;
}
.container_header #mall_header{
    text-align: center;
    float: right;
}

.container_header .logo{
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
}

.container_header .logo img{
    max-width: 100%;
    max-height: 150px;
}

.nav_bar{
    float: left;
    width: 70%;
    overflow: hidden;
    

}
ul#list_nav {
    margin:10px;
    padding:5px;
    list-style:none;
    width:100%;
}

ul#list_nav li {
    display:inline;
}

ul#list_nav li a {
    text-decoration:none;
    padding:5px 0;
    width:100px;
    background-color: orange;
    color:white;
    float:left;
}

ul#list_nav li a {
    text-align:center;
    border-left:1px solid #fff;
}

ul#list_nav li a:hover {
    background:#a2b3a1;
    color:#000
}

main{
    clear: both;
    height: 90%;
}

.container_main{
    height: 25%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.container_main .content{
    height: 90%;
    width: 100%;
}

.container_main .content .section_tittle{
    text-align: center;
    color: orange;
}

.container_main .content .container_section{
    float: left;
    max-width: 500px;
    max-height: 600px;
    padding: 25px;
}



.container_main .content .container_section .featured_photo{
    border-style: double;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
}

footer{
    clear: both;
    height: 5%;
    
     
}

.container_footer{
    height: 95%;
    width: 100%;
    
    
    
}

.container_footer .nav_bar {
    height: 95%;
    width: 95%;
    padding-bottom: 10px; 

}

ul#bot_nav {
    margin:10px;
    padding:5px;
    list-style:none;
    width:100%;
}

ul#bot_nav li {
    display:inline;
}

ul#bot_nav li a {
    text-decoration:none;
    padding:5px 0;
    width:300px;
    background-color: orange;
    color:white;
    float: left;
}

ul#bot_nav li a {
    text-align:center;
    border-left:1px solid #fff;
}

ul#bot_nav li a:hover {
    background:#a2b3a1;
    color:#000
}

